#first of all, it is necessary to Upgrade CPAN, which is a installation method 
>perl -MCPAN -e shell
cpan>install Bundle::CPAN
cpan>install Module::Build
cpan>o conf prefer_installer MB
cpan>o conf commit
cpan>q

#then Installing using CPAN
>perl -MCPAN -e shell
cpan>d /bioperl/
cpan>force install CJFIELDS/BioPerl-1.6.923.tar.gz
